@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --max-width-page: 700px;
}

body {
  margin: 0 auto;
  max-width: var(--max-width-page);
}

header {
  border-radius: 20px;
  background-color: #2565ae;
  width: 100%;
  text-align: center;
  height: 200px;
}
footer {
  border-radius: 20px;
  background-color: #2565ae;
  width: 100%;
  text-align: center;
  height: 3em;
  padding: 0.5rem 0;
  color: white;
}

header img {
  border-radius: 40px;
  width: 150px;
  padding: 1rem 1rem;
}

h1 {
  color: white;
  font-family: "Nunito", sans-serif;
  padding: 1.5rem 0;
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 25px;
  padding-left: 40px;
  font-family: "Nunito", sans-serif;
  word-spacing: 8px;
}

ul {
  line-height: 1.5;
  padding-left: 50px;
}

.last-updated {
  color: rgba(5, 205, 255, 0.699);
  padding-top: 0.5rem;
}

.info {
  color: white;
}

main a:link,
main a:visited {
  margin: 0.2rem 0;
  color: royalblue;
}

footer a:link,
footer a:visited {
  color: white;
}
