img {
  max-width: 100%;
}

picture img {
  width: 100px;
}

header {
  display: flex;
  justify-content: center;
  background-color: #087f8c;
  align-items: center;
}
.navigation a:hover {
  background-color: #ffd400;
  border-radius: 12px;
  padding: 20px;
  list-style-type: none;
}
header .headings {
  flex-direction: column;
  margin-left: 3em;
}

h1 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bolder;
  font-family: "Source Sans Pro", sans-serif;
}

nav {
  background-color: #131200;
  padding: 0.1rem;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-family: "Poppins", sans-serif;
}

main h2 {
  text-align: center;
  color: #087f8c;
  font-family: "Source Sans Pro", sans-serif;
}

footer {
  background-color: #087f8c;
  width: 100%;
  text-align: center;
  padding: 0.6rem 0;
  color: white;
  margin-top: 1.5rem;
  font-family: "Poppins", sans-serif;
}

.formatted-time {
  padding-top: 0.8rem;
}

footer a:link,
footer a:visited {
  color: white;
}

.linked {
  background-color: #131200;
  border: none;
  transition: background-color 0.3s;
}

.linked::before {
  top: 0;
  left: 0;
  width: 0;
  height: 0.1rem;
  background-color: #131200;
  transition: width 0.3s 0.1s;
}

.linked::after {
  bottom: 0;
  right: 0;
  width: 0;
  height: 0.1rem;
  background-color: #131200;
  transition: width 0.3s 0.1s;
}

.linked:hover {
  border-radius: 2px;
  padding: 4px;
  color: #131200;
  background-color: white;
}

.linked:hover::before {
  width: 100%;
}

.linked:hover::after {
  width: 100%;
}

.banner {
  display: flex;
  font-family: "Nunito", sans-serif;
  width: 100%;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ff2e00;
}

.container {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.card {
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
