/*HEADER style*/

header {
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #07354B;
  margin-bottom: 10px;
}

header img {
  max-width: 100px;
}

aside {
  font-family: "Source Sans Pro", sans-serif;
  color: yellow;
  margin: 3px auto;
  background-color: #07354B;
  width: 90%;
  text-align: center;
  align-self: flex-end;
  flex-wrap: wrap;
}

.headings {
  display: flex;
  flex-direction: column;
  margin-left: .5rem;
}

.headings h1 {
  font-family: Helvetica, sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.logo img {
  padding: 2px;
  width: 150px;
  height: auto;
}

h1 {
  font-size: 1em;
  color: #fff;
  font-weight: bolder;
  font-family: "Source Sans Pro", sans-serif;
}

/*Banner style*/


#ham {
  background-color: #07354B;
  font-size: 1.5rem;
  padding: .5rem;
}

#ham :hover {
  background-color: #07354B;
}



.navigation {

  align-self: flex-end;
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #07354B;
}

.navigation li {
  display: none;
}

.navigation li a {

  padding: 1rem;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

.navigation li a:hover {
  background-color: #FCEB54;
  box-shadow: 0 0 10px #FCEB54, 0 0 20px #FCEB54, 0 0 30px #FCEB54;
  font-weight: 700;
}

.navigation.responsive li {
  display: block;
  width: 100%;
}

.navigation.responsive li a {
  display: block;
}


.social {
  max-width: 30px;
  order: 3;
  margin: 5px;
}

.social-media {
  margin-left: auto;
}

body {
  width: 100%;
}

/*MAIN, and layout style*/

.address {

  max-width: 600px;
  color: #07354B;
  text-align: center;
  background-color: #dbd146;
  color: #fff;
  font-family: Helvetica, sans-serif;
  padding: 2rem;
  margin: 2rem;
  border: 5px solid #3f3d53;
}

.address h3,
p {
  color: #07354B;
  text-align: center;
}

main h1  {
  color: #07354B;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.form {
  text-align: center;
  background-color: #3f3d53;
  color: #fff;
  font-family: Helvetica, sans-serif;
  padding: 2rem;
  margin: 2rem;
  border: 5px solid #FCEB54;
}

.top {
  color: #FCEB54;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  padding: 0.50rem;
  margin: 1rem;
  font-size: 1rem;
}

form label.top input {
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: #555;
  width: 100%;
  max-width: 15rem;
  background-color: rgba(0, 0, 0, 0.1);
}

form input.submitBtn {
  border: none;
  background-color: #FCEB54;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
  box-shadow: 1px 1px 20px black;
  cursor: pointer;

}

/*FOOTER style*/


footer {
  display: flex;
  background-color: #07354B;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  color: white;
}

#footer-info {
  font-family: Helvetica, sans-serif;
}


footer div {
  text-align: center;
}


footer p {
  color: yellow;
  margin: 5px;

}


footer img {
  max-width: 180px;
  max-height: 180px;
}

footer a:link,
footer a:visited {
  color: white;
}


#information p,
a {
  color: white;
  font-size: 1rem;
  align-items: center;
  font-family: Helvetica, sans-serif;
}

#visit{
  display: block;
  font-size: .75rem;
}

#visit h3 {
  font-size: 1rem;
  font-weight: bolder;
  font-family: "Source Sans Pro", sans-serif;
}