@media only screen and (min-width: 37.5em) {
  h1 {
    font-size: 1.8rem;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }

  nav ul li {
    display: flex;
  }

  .motto {
    font-size: medium;
  }

  picture img {
    width: 150px;
    align-items: center;
  }

  .navigation li {
    display: block;
  }

  .navigation li:first-child {
    display: none;
  }
  .floated {
    padding: 1rem;
    top: 25px;
  }

  .float-img {
    max-width: 85%;
  }

  .float-img img {
    border-radius: 10px;
  }

  .floated p {
    font-size: 15px;
  }

  .week-time {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-family: "Source Sans Pro", sans-serif;
  }

  .flex-week {
    border: 1px solid #333;
    text-align: center;
    width: 7rem;
  }

  .h3-main {
    display: block;
    text-align: center;
    font-size: 22px;
    padding: 20px;
  }

  .article-sec {
    margin: 40px auto;
  }

  .article-sec img {
    margin-left: 35px;
    margin-bottom: 35px;
    width: 300px;
    float: right;
  }

  .before-footer img {
    display: inline;
    float: left;
    margin: 0 50px 0 50px;
    height: 180px;
  }

  .before-footer {
    width: 700px;
  }
}
