header {
  background-color: #087f8c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  max-width: 1500px;
  margin: 0 auto;
  list-style-type: none;
}

#menu ul li a:hover {
  background-color: #ffd400;
  border-radius: 12px;
  padding: 30px;
  list-style-type: none;
}

#menu ul {
  list-style: none;
  list-style-type: none;
}

ul li a {
  color: #fff;
  text-align: center;
  padding: 2rem;
  font-size: 15px;
  margin: 10px 0;
  list-style-type: none;
}

img {
  width: 100%;
}

h1,
h2 {
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Source Sans Pro", sans-serif;
}
p,
a {
  font-family: "Poppins", sans-serif;
}

.logo {
  width: 280px;
  margin: 0 auto;
  margin-top: -3em;
}

main {
  padding: 0.7rem;
}
main,
footer {
  max-width: var(--max-width-page);
  margin: 0 auto;
}

footer {
  background-color: #2565ae;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
}
footer a:link,
footer a:visited {
  color: white;
}
.info {
  color: white;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}
.tip {
  text-align: center;
}
section {
  padding: 0.5rem 0.7rem;
  width: 250px;
}
