@media only screen and (min-width: 600px) {
    header {
      border-radius: 0.5rem;
    }
  
    body {
      padding: 0 25px;
    }
  
    #ham {
      background-color: #07354B;
      font-size: 1.5rem;
      padding: .5rem;
      font-size: 35px;
    }

    
  
    .social {
      max-width: 40px;    
    }
  
    .hide {
      grid-column: 1/3;
      grid-row: 1;
  }
    nav ul {
      display: flex;
    }
  
    nav a {
      font-size: 1rem;
    }

    section picture img {
        width: 150px;
        align-items: center;
      }

      img:hover {
        box-shadow: 0 0 50px #333;
      }

      main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 10px;
        margin: 10px;
      }
      main section {
        border-radius: 5px;
      }
}